html{
	 height:100%;
	 text-align:center;
}

body {
	 background-image:url("08.jpg");
	 text-align:center;
	 //height:100%;
	 //width:100%;
	 margin:0px;
	 background-repeat:no-repeat;
	 //height:20px;
	 background-size:1920px 500px;
	 background-color:#9aff9a;
}


h1{
	 color:#000000;
	 font-size:100pt;
	 font-family:"Courier New";
	 //background-position:fixed;
	 height:50pt;
	 //width:100%;
	 margin-top:0px;
 }
 h5{
	 font-size:25pt;
	 font-family:"Harrington";
	 margin:0px;
	 padding:20px;
 }
 h4{
	 font-size:50pt;
	 font-family:"Comic Sans MS";
	 margin:0px;
	 color:#dcdcdc;
 }
 
#navbar{
	 text-align:center;
	 margin-top:0px;

}
 
#navbar ul{
	 margin:0px;
	 padding:0px;
	 list-style:none;
	 display:inline-block;
	 
	 }
#navbar ul li a{
	 text-decoration:none;
	 color:white;
	 display:block;
	
}
#navbar ul li{
	 float:left;
	 width:200px;
	 height:40px;
	 background-color:black;
	 font-size:20px;
	 line-height:40px;
	 text-align:center;
	 opacity:.5;
	 border:1px;
	 
	
	
}
 #navbar ul li a:hover{
	 background-color:red;
}

//.sect{
	 background-color:#f0f8ff;
	 height:120%;
	 background-size:cover;
	 background-attachment:fixed;
	 padding:20px;
	
}
//.subSection{
	 background-color:#000000;
	 height:75%;
	 padding:20px;
}
//.sectOne{
	 background-image:url("05.jpg");
}
//.sectTwo{
//	 background-image:url("06.jpg");
//	 opacity:0.5;
}

//.sectThree{
//	 background-image:url("00.jpg")
}
#top{
	position:fixed;
	bottom:0px;
	font-size:20pt;
	font-family:"stencil";
	background-color:white;
	color:black;
	text-decoration:none;
}

p{
	color:black;
	font-size:20pt;
	word-spacing:10px ;
	letter-spacing:-2px;
	//line-height:20px;
	
}

#HOME{
	//background-image:url("05.jpg");
	//height:75%;
	//padding:20px;
}

#USAGE{
	 
	 text-align:center-left;
	 margin-left:20px;
	 //font-family:Lucida Handwriting;
}
#img{
	margin-top: 30px;
	margin-left:30px;
	
}